r6
R6
Rcpp
backports
base64enc
bslib
cachem
checkmate
cli
commonmark
digest
ellipsis
evaluate
fastmap
fontawesome
fs
glue
highr
htmltools
htmlwidgets
httpuv
jquerylib
jsonlite
knitr
later
learnr
lifecycle
magrittr
markdown
memoise
mime
promises
rappdirs
renv
rlang
rmarkdown
rprojroot
sass
shiny
sourcetools
stringi
stringr
tinytex
vctrs
withr
xfun
xtable
yaml
R6
